asgiref==3.12.1
Django==6.0.7
django-debug-toolbar==7.0.0
django-extensions==4.1
Faker==40.36.0
flake8==7.3.0
gunicorn==26.0.0
iniconfig==2.3.0
mccabe==0.7.0
packaging==26.3
pillow==12.3.0
pluggy==1.6.0
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pydotplus==2.0.2
pyflakes==3.4.0
Pygments==2.20.0
pygraphviz==2.0.1
pyparsing==3.3.2
pytest==9.1.1
python-dotenv==1.2.2
ruff==0.16.1
sqlparse==0.5.5
whitenoise==6.12.0
