{% extends "base.html" %}
{% load static %}


{% block content %}
<h1>Recipe List</h1>
{% if recipe_list %}
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Cooking time</th>
    <th>Author</th>
  </tr>
  {% for recipe in recipe_list %}
  <tr>
    <td>
      <a href="{% url 'dishes:recipe-detail' recipe.pk %}">{{ recipe.name }}</a>
    </td>
    <td>
      {{ recipe.description }}
    </td>
    <td>
      {{ recipe.cooking_time }}
    </td>
    <td>
      <a href="{% url 'dishes:cook-detail' recipe.author.pk %}">{{ recipe.author }}</a>
    </td>
  </tr>
  {% endfor %}
</table>
      {% if user.is_authenticated %}
        <a href="{% url 'dishes:recipe-create' %}" class="btn btn-primary" style="margin-top:20px; width:fit-content;">Додати рецепт</a>
      {% endif %}
{% endif %}
{% endblock %}